{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
    
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Medicamentos</title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">

    </head>

    <body>

        <div class="container-fluid">
            <div class="row">
                
                <div class="col" >

                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="{% url 'Farmacia' %}">FarFam</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'Farmacia' %}">Home <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'Medicamentos' %}">Medicamentos</a>
                            </li>

                            <li class="nav-item">
                                
                                <a class="nav-link" href="{% url 'Agregar' %}">Agregar</a>

                            </li>
                            
                            <li class="nav-item">
                                
                                <a class="nav-link" href="#">Carrito</a>

                            </li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                    </nav>

                </div>

            </div>
            <div class="row" style="background-color: grey;">
                    <table class="table table-hover" >
                        {%for me in medicamento%}
                        <div class="col">
                            <hr class="my-4">
                            <h5>{{me.nombreMedi}}</h5>
                            <p>{{me.precio}}</p>   
                            <a class="btn btn-danger btn-lg" href="{% url 'eliminar' me.id %}" role="button">Eliminar</a>

                        </div>
                        <br>
                        {% endfor %}
                    </table>
            </div>



        </div>


        <script src="{% static 'core/js/jquery-3.6.0.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'core/js/bootstrap.js' %}"></script>
        <script src="{% static 'core/popup.js' %}"></script>
        <script src="{% static 'core/js/script.js' %}"></script>
        <script src="{% static 'core/js/validacion.js' %}"></script>
        <script src="{% static 'core/js/validacion - iniciosesion.js' %}"></script>

    </body>

</html>